<%layout('layout.ejs')%>
<script src="/js/bdb.js"></script>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered" id="tb">
            <thead>
                <th >Item</th>
                <th>Start Bid</th>
                <th>Current Bid</th>
                <th>Start Time</th>
                <th>End Time</th>
            </thead>
            <tbody>
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>